<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
  http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.4.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
  ">

	<import resource="spring-sonferenz-db.xml" />
	<import resource="spring-sonferenz-db-mysql.xml" />
	<import resource="spring-sonferenz-services.xml" />

	<bean id="propertyPlaceholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>WEB-INF/config/application.properties</value>
			</list>
		</property>
	</bean>

	<security:global-method-security
		secured-annotations="disabled" pre-post-annotations="enabled"
		jsr250-annotations="disabled">
		<!-- <security:expression-handler ref = "methodSecurityExpressionHandler" 
			/> -->
	</security:global-method-security>

	<context:component-scan base-package="de.bitnoise.sonferenz.web" />
	<context:component-scan base-package="de.bitnoise.sonferenz.web.auth" />

	<context:component-scan base-package="de.bitnoise.sonferenz.service" />
	<context:component-scan base-package="de.bitnoise.sonferenz.facade" />
	<context:component-scan base-package="de.bitnoise.sonferenz.web.init" />

	<bean id="liquibase" class="liquibase.integration.spring.SpringLiquibase"
		primary="true">
		<property name="dataSource" ref="dataSource" />
		<property name="changeLog" value="classpath:database/db-changelog-master.xml" />
		<property name="contexts" value="production,sample-data" />
	</bean>

</beans>
